/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-height: 100px;

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.navbar,
h1,
th {
  font-family: "Ubuntu";
}

.navbar {
  background-color: #403330;
}

th {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 3em;
}

.nav-text {
  font-size: 1.5em;
}

.main {
	margin-top: 50px;
}

.user-list {
  font-size: 2em;
}

.index-image {
	margin: 3px;
}

.table-list {
	border: 2px solid #DDD;
}

.show-table td{
	width: 20%;
}

.user-list li{
	list-style: none;
	padding-bottom: 10px;
}

.pagination {
	margin-left: auto;
	margin-right: auto;
  em.current,
  a,
 	span.disabled {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
  }
  .previous_page {
    border-left: 1px solid #ddd;
  }
  span.disabled {
    color: #aaa !important;
    border-left-width: 1px;
  }
}

.form-fields {
  width: 250px;
  margin-bottom: 10px;
}

.photo-upload-box {
  border: 1px solid #DDD;
  padding: 5px;
  width: 250px;
}

.btn {
  margin-top: 10px;
}



